
 .login{
   text-align: center;
   font-size: 30px;
   margin-left: 200px;
   margin-right: 200px;
 

   
  
 }
 html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  background-image:linear-gradient(to right, rgb(168, 192, 255), rgb(63, 43, 150));

}